<div class="container">
  <h3 class="bg-light py-3 ps-3">Product list</h3>
  <div class="mb-3 d-flex align-items-center">
    <label for="exampleInputEmail1" class="form-label me-3 font-weight "
      >Filter</label
    >
    <input
      (keyup)="filter($event)"
      style="width: 300px"
      placeholder="Nhập keywords"
      type="search"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
    />
  </div>
  <h3 class="fs-1">Filter By: {{searchText | age}}</h3>
  <img
    class="d-block mx-auto"
    *ngIf="products.length == 0 && !loading"
    src="https://onlineraj.com/images/no-products-found.png"
    alt=""
  />
  <img
    class="d-block mx-auto"
    src="https://miro.medium.com/max/1400/1*CsJ05WEGfunYMLGfsT2sXA.gif"
    *ngIf="loading"
    alt=""
  />
  <table
    class="table table-hover"
    *ngIf="products && products.length > 0 && !loading"
  >
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Product</th>
        <th scope="col">Code</th>
        <th scope="col">Available</th>
        <th scope="col">Price</th>
        <th class="text-center" scope="col">5 Star Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td (click)="hideImage(product.imageUrl)">
          <img *ngIf="!product.check"  width="50" [src]="product.imageUrl" alt="" />
          <button *ngIf="product.check" type="button" class="btn btn-outline-primary">Hiện ảnh</button>
        </td>
        <td>{{ product.productName }}</td>
        <td>{{ product.productCode }}</td>
        <td>{{ product.releaseDate | age: product.releaseDate }}</td>
        <td>{{ product.price }}</td>
        <td class="text-center">
          <app-star (checkStar)="setStarCheck($event)" [ProductId]="product.productId" [starRating]="product.starRating"></app-star>
        </td>
      </tr>
    </tbody>
    
  </table>

  <form [formGroup]="productForm" (ngSubmit)="addProduct()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">productName</label>
      <input type="text"  class="form-control" formControlName="productName">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">imageUrl</label>
      <input type="text" class="form-control" formControlName="imageUrl">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">productCode</label>
      <input type="text" class="form-control" formControlName="productCode">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">starRating</label>
      <input type="number"  class="form-control" formControlName="starRating">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">price</label>
      <input type="number"  class="form-control" formControlName="price">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">description</label>
      <input type="text"  class="form-control" formControlName="description">
    </div>
    <button type="submit" [disabled]="!productForm.valid" type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
